/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Verdana, Geneva, Tahoma, sans-serif;";
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #181818; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #404040; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #181818; /* creates padding around scroll thumb */
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

.mat-hint, input, ::placeholder, .mat-form-field-label {
  color: white;
}

.mat-button{
  background: #403737;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label{
  color: white !important;
}
