<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn</title>
  </head>
  <body>
    <mat-card class=" mat-elevation-z8" id="container">
      <div class="form-container sign-in-container">
        <form [formGroup]="LoginForm" (ngSubmit)="login()">
          <h1 class="Login">Login Now</h1>
          <input type="text" class="text-control" placeholder="UserName" formControlName="username" />
          <input type="password" class="text-control" placeholder="Password" formControlName="password" />
          
          <button style="margin-top: 10px">Let Me In...</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <img
              src="../../assets/img/Logo.svg"
              alt="movie-2"
              height="32%"
            />
          </div>
        </div>
      </div>
    </mat-card>
  </body>
</html>
