.left{
    float: left;
    width: 35%;
    background-color:#181818;
}
.right{
    float: right;
    width: 65%;
    background-color:#181818;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,2.15)!important; */
}

.containers{
    height: 93vh;
}

mat-paginator{
    background-color: #2a2828;
    color: #fff;
}

::ng-deep .mat-select-value{
    color: #fff;
}

::ng-deep .mat-select-arrow{
    color: #fff;
}

::ng-deep .mat-tab-label {
    color: white;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

::ng-deep .left .mat-tab-header{
    padding-left: 18%;
    padding-right: 22%;
    padding-top: 5%;
    padding-bottom: 7%;
}

.tab{
    color: #fff;
}

.right table {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    width: 98%;
    background-color: #181818;
    text-align: center;
    
}

.left table {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    width: 98%;
    background-color: #181818;
}

.mat-header-cell{
    color: #fff;
}

.mat-cell{
    color: #a5a7a9;
}

.font{
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

.btn-color{
    background-color: #ef4a37;
    color: #fff;
    position: relative;
    top: 7%;
    left: 80%;
    width: 14%;
    height: 6%;
}

.heading{
    position: absolute;
    top: 13%;
    left: 38%;
}

.adjust{
    width: 65%;
    margin-left: 11%;
    max-height: 76%;
    min-height: 76%;
}

::ng-deep .right .mat-tab-header{
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 7%;
}

.nw{
    color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 83%;
    left: 39%;
}

input{  
    position: relative;
    bottom: 19px;
    border: 0;
    width: 4%;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input:disabled{
    background-color: #181818;
    color: #fff;
}

.right th.mat-header-cell {
    text-align: center;
}

td.mat-cell {
    border-color: #424242;
}

th.mat-header-cell {
    border-color: #424242;
}
