<nav class="navbar navbar-dark back navbar-expand-lg shadow-lg">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/Logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">{{this.NetWorthData.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="signout()">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>