table{
    width: 98%;
    text-align: center;
    /* background-color: #181818; */
}

table .mat-header-cell {
    text-align: center;
}

table .mat-cell{
    padding: 2%;
}

/* ::ng-deep .mat-dialog-container{
    background-color: #181818;
} */